<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Fermi Notify CMS">
	<meta propety="og:image" content="/img/favicon-allmuted.png">
	<meta property="og:description" content="Fermi Notify CMS">
	<meta property="og:title" content="Fermi Notify CMS">
	<meta property="og:type" content="website">
	<link rel="icon" type="image/x-icon" href="/img/favicon-allmuted.png">
	<!-- css -->
	<link rel="stylesheet" href="/css/general.css" type="text/css">
	<link rel="stylesheet" href="/css/home.css" type="text/css">
	<link rel="stylesheet" href="/css/home-list.css" type="text/css" id="layoutCSS">
	<script src="/js/hamburger.js" defer></script>
	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/95ae55bd9a.js" crossorigin="anonymous"></script>
	<!-- Material Icon -->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<!-- jQuery 3.6.0 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- Moment.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

	<title>Fermi Notify CMS</title>

</head>

<body>

	<nav class="navbar">
		<div class="navbar-inner"><a class="logo" href="/"><img src="/img/cms-logo.png"></a>
			<a class="hamburger">
				<span class="line"></span>
				<span class="line"></span>
				<span class="line"></span>
			</a>
			<div class="nav-links">
				<ul>
					<li><a href="./logout" class="spanHighlight"><span>&gt;</span> Logout</a></li>
					<li><a onclick="changeLayout()" class="spanHighlight"><span>&gt;</span> <span
								class="material-symbols-rounded" id="layoutBtn">
								grid_view
							</span></a></li>
				</ul>
			</div>
		</div>
	</nav>

	<script>
		function changeLayout() {
			var layoutCSS = document.getElementById("layoutCSS");
			if (layoutCSS.href == "/css/home-list.css") {
				layoutCSS.href = "/css/home-grid.css";
				$("#layoutBtn").html("list");
				localStorage.setItem("layout", "grid");
			} else {
				layoutCSS.href = "/css/home-list.css";
				$("#layoutBtn").html("grid_view");
				localStorage.setItem("layout", "list");
			}
		}
		if (localStorage.getItem("layout") == "grid") {
			var layoutCSS = document.getElementById("layoutCSS");
			layoutCSS.href = "/css/home-grid.css";
			$("#layoutBtn").html("list");
		}
	</script>

	<div class="content minHeight-100vh">
		<div class="section">
			<h1 class="firstTitle">Files</h1>
		</div>

		<div class="files-container">
			<% for (let i=0; i < files.length; i++) {%>

				<div class="file">
					<div class="file-inner">
						<img src="/f/<%= files[i] %>" class="file-preview">
						<div class="file-ctrl">
							<a href="/f/<%= files[i] %>"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
							<a
								href="javascript:navigator.clipboard.writeText('https://cms.ferminotify.me/f/<%= files[i] %>')"><i
									class="fa-solid fa-copy"></i></a>
							<a href="files/delete/<%= files[i] %>"><i class="fa-solid fa-trash"></i></a>
						</div>
						<div class="file-name-container">
							<span class="file-name">
								<%= files[i] %>
							</span>
						</div>
					</div>
				</div>
				<% } %>

		</div>

		<div class="files-upload">
			<form action="/files/new" method="POST" enctype="multipart/form-data">
				<label for="images" class="drop-container" id="dropcontainer">
					<span class="drop-title">Rilascia files qui</span>
					o
					<input type="file" id="file" accept="image/*" required name="file">
				</label>
				<input type="submit" value="Upload" class="btn-bg margin-y15px">
			</form>
		</div>

	</div>

	<div class="footer">
		<div class="footer-inner">
			<div>
				<a href="//ferminotify.me" class="spanHighlight" style="padding-right: 1.5vw;"><span>&gt;</span> Fermi Notify</a>
			</div>
			<span>Questo sito usa cookie tecnici</span>
		</div>
	</div>



	<script>
		const dropContainer = document.getElementById("dropcontainer");
		const fileInput = document.getElementById("file");

		dropContainer.addEventListener("dragover", e => {
			// prevent default to allow drop
			e.preventDefault();
		}, false);

		dropContainer.addEventListener("dragenter", () => {
			dropContainer.classList.add("drag-active");
		});

		dropContainer.addEventListener("dragleave", () => {
			dropContainer.classList.remove("drag-active");
		});

		dropContainer.addEventListener("drop", e => {
			e.preventDefault();
			dropContainer.classList.remove("drag-active");
			fileInput.files = e.dataTransfer.files;
		});
	</script>

	<script>
		// Get all elements with class "file-name"
		const fileNames = document.querySelectorAll('.file-name');

		// Loop through each file name element
		fileNames.forEach((fileName) => {
			// Check if the file name overflows its container
			if (fileName.scrollWidth > fileName.clientWidth) {
				// Create a container for the scrolling animation
				const scrollContainer = document.createElement('div');
				scrollContainer.className = 'scroll-container';

				// Duplicate and add 4 spaces between each file name
				const content = fileName.innerHTML;
				const spacedContent = content + '&nbsp;&nbsp;&nbsp;&nbsp;' + content + '&nbsp;&nbsp;&nbsp;&nbsp;'; // Add 4 spaces between each copy
				scrollContainer.innerHTML = spacedContent;

				// Wrap the original file name with the scrolling container
				fileName.innerHTML = '';
				fileName.appendChild(scrollContainer);

				// Set up the scrolling animation
				const scrollDistance = fileName.scrollWidth / 2; // Divide by 2 since we duplicated the content
				let currentPosition = 0;
				const scrollSpeed = 0.7; // Adjust this value for a slower speed

				const animateScroll = () => {
					currentPosition += scrollSpeed;
					if (currentPosition > scrollDistance) {
						currentPosition = 0;
					}
					scrollContainer.style.transform = `translateX(-${currentPosition}px)`;
					requestAnimationFrame(animateScroll);
				};

				// Start the scrolling animation
				requestAnimationFrame(animateScroll);
			}
		});


	</script>

</body>

</html>